<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BDD Test Suite" parallel="tests" thread-count="2">

    <test name="node 1">
        <parameter name="deviceName" value="emulator-5554" />
        <parameter name="platformVersion" value="10" />
        <classes>
            <class name="Suite.TestRunner" />
        </classes>
    </test>

    <test name="node 2">
        <parameter name="deviceName" value="emulator-5556" />
        <parameter name="platformVersion" value="10" />
        <classes>
            <class name="Suite.TestRunner" />
        </classes>
    </test>

</suite>